<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="ShortcutDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="プログラムアイコンを作成" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="ショートカットを作成" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="ShortcutLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes" Text="[ProductName] アイコンの作成先:" />
                <Control Id="DesktopShortcutCheckBox" Type="CheckBox" X="40" Y="90" Width="270" Height="17" Property="INSTALLDESKTOPSHORTCUT" CheckBoxValue="1" Text="デスクトップ(&amp;D)" />
                <Control Id="StartMenuShortcutCheckBox" Type="CheckBox" X="40" Y="120" Width="270" Height="17" Property="INSTALLSTARTMENUSHORTCUT" CheckBoxValue="1" Text="スタートメニューのプログラムフォルダ(&amp;S)" />
                <Control Id="ShellContextMenuCheckBox" Type="CheckBox" X="40" Y="150" Width="270" Height="17" Property="INSTALLSHELLCONTEXTMENU" CheckBoxValue="1" Text="Open With Vim コンテキストメニュー(&amp;C)" />
                <Control Id="PathEnvironmentCheckBox" Type="CheckBox" X="40" Y="180" Width="270" Height="17" Property="INSTALLPATHENVIRONMENT" CheckBoxValue="1" Text="インストールディレクトリを環境変数(%PATH%)に追加(&amp;P)" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>
