<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!-- require $(env.VER_FULL) $(env.FEAT_OLE) -->

  <?define ProductVersion = "$(env.VER_FULL)"?>

  <!-- FIXME: Add version number? -->
  <?define ProductName = "Vim"?>

  <Product
    Id='*'
    UpgradeCode='1BE1251B-E89C-D54B-A192-7617BE4014E1'
    Language='$(var.lang)'
    Codepage='$(var.codepage)'
    Version='$(var.ProductVersion)'
    Name='$(var.ProductName)'
    Manufacturer='Vim Developers'
    >

    <Package Id="*" Compressed='yes' />

    <!-- All product having same UpgradeCode will be overridden. -->
    <MajorUpgrade AllowDowngrades="yes" />

    <Property Id="ARPCOMMENTS">Vi Improved - A Text Editor</Property>
    <Property Id="ARPURLINFOABOUT">http://www.vim.org/</Property>
    <Property Id="ARPPRODUCTICON">vim.ico</Property>

    <Icon Id="vim.ico" SourceFile="vim\src\vim.ico" />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' CompressionLevel="high" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='$(var.ProductName)'>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="gvim.exe" Guid="*">
        <File Id="gvim.exe" KeyPath="yes" Source="$(var.dist)\gvim.exe">

          <!-- FIXME: How to separate Component to make TypeLib register optional? -->
          <?if $(env.FEAT_OLE) = 1?>
          <!--
            This component installs OLE typelib (Same as gvim.exe -register).
            TypeLib and Interface are generated by "heat.exe file vim\src\vim.tlb".
            See vim\src\if_ole.idl for id.
          -->
          <!-- HKCR\TypeLib\{Id} -->
          <TypeLib Id="{0F0BFAE0-4C90-11D1-82D7-0004AC368519}" Description="Vim OLE Interface 1.1 Type Library" Language="0" MajorVersion="1" MinorVersion="1" HelpDirectory="INSTALLDIR">
            <!-- HKCR\Interface\{Id} -->
            <Interface Id="{0F0BFAE2-4C90-11D1-82D7-0004AC368519}" Name="IVim" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
            <!-- HKCR\CLSID\{Id} -->
            <Class Id="{0F0BFAE1-4C90-11d1-82D7-0004AC368519}" Context="LocalServer32" Version="Vim.Application.1">
              <!-- HKCR\{id} -->
              <ProgId Id="Vim.Application.1">
                <ProgId Id="Vim.Application" />
              </ProgId>
            </Class>
          </TypeLib>
          <?endif?>

        </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="gvimext.dll" Guid="*">
        <File Id="gvimext.dll" KeyPath="yes" Source="$(var.dist)\gvimext.dll">
          <Class Id="{51EEE242-AD87-11d3-9C1E-0090278BBD99}" Description="Vim Shell Extension" Context="InprocServer32" ThreadingModel="apartment">
          </Class>
        </File>
        <RegistryValue Root='HKCR' Key='*\shellex\ContextMenuHandlers\gvim' Type="string" Value="{51EEE242-AD87-11d3-9C1E-0090278BBD99}" />
        <RegistryValue Root='HKLM' Key='Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved' Name="{51EEE242-AD87-11d3-9C1E-0090278BBD99}" Type="string" Value="Vim Shell Extension" />
        <!-- used by gvimext.dll -->
        <RegistryValue Root='HKLM' Key='Software\Vim\Gvim' Name="path" Type="string" Value="[INSTALLDIR]gvim.exe" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="OpenWithList" Guid="*">
        <RegistryValue Root='HKCR' Key='Applications\gvim.exe\shell\edit\command' Type="string" Value='"[INSTALLDIR]gvim.exe" "%1"' KeyPath="yes" />
        <RegistryValue Root='HKCR' Key='*\OpenWithList\gvim.exe' Type="string" Value="" />
        <RegistryValue Root='HKCR' Key='.vim\OpenWithList\gvim.exe' Type="string" Value="" />
        <RegistryValue Root='HKCR' Key='.htm\OpenWithList\gvim.exe' Type="string" Value="" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Config" Guid="528F0FC8-61D6-8446-B9D8-7D8BD358E153">
        <RegistryValue Root='HKCU' Key='Software\Vim\install' Name="installdir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="PathEnv" Guid="147EA001-A6FF-6146-BACB-86277994D96B">
        <Condition>INSTALLPATHENVIRONMENT</Condition>
        <Environment Id='UpdatePath' Name='PATH' Action='set' Permanent='no' System='yes' Part='last' Value='[INSTALLDIR]' />
        <RegistryValue Root='HKCU' Key='Software\Vim\install' Name="path_environment" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ShellContextMenu" Guid="67D164CC-DC64-4545-9AA7-3BEA629FFA3F">
        <Condition>INSTALLSHELLCONTEXTMENU</Condition>
        <RegistryKey Root="HKCR" Key="*\shell\[ProductName]">
          <RegistryValue Type="string" Value='Open With [ProductName]' />
          <!-- FIXME: Is it possible to set icon to context menu?
          <RegistryValue Name="Icon" Type="string" Value='[INSTALLDIR]gvim.exe' />
          -->
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value='"[INSTALLDIR]gvim.exe" "%1"' />
          </RegistryKey>
        </RegistryKey>
        <RegistryValue Root='HKCU' Key='Software\Vim\install' Name="contextmenu" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcut" Guid="538BB2EB-05F2-E042-879A-7992638CB319">
        <Condition>INSTALLSTARTMENUSHORTCUT</Condition>
        <Shortcut Id="StartMenuShortcut1" Name="GVim" Target="[INSTALLDIR]gvim.exe" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id='ApplicationProgramsFolder' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\Vim\install' Name="startmenu_shortcut" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="F07119B3-1959-A44D-BEC7-94B4EAA2B57B">
        <Condition>INSTALLDESKTOPSHORTCUT</Condition>
        <Shortcut Id="DesktopShortcut1" Name="GVim" Target="[INSTALLDIR]gvim.exe" WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root='HKCU' Key='Software\Vim\install' Name="desktop_shortcut" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Title='Vim' Description='Vim' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id="fMainFiles" Title="Main Files" Description="Main Files"  Level="1">
        <ComponentGroupRef Id='MainFiles' />
        <ComponentRef Id="gvim.exe" />
        <ComponentRef Id="gvimext.dll" />
        <ComponentRef Id="OpenWithList" />
        <ComponentRef Id="Config" />
      </Feature>
      <Feature Id="fPathEnv" Title="PATH Environment" Description="PATH Environment" Level="1">
        <ComponentRef Id="PathEnv" />
      </Feature>
      <Feature Id="fStartMenuShortcut" Title="Start Menu Shortcut" Description="Start Menu Shortcut" Level="1">
        <ComponentRef Id="StartMenuShortcut" />
      </Feature>
      <Feature Id="fDesktopShortcut" Title="Desktop Shortcut" Description="Desktop Shortcut" Level="1">
        <ComponentRef Id="DesktopShortcut" />
      </Feature>
      <Feature Id="fShellContextMenu" Title="Shell Context Menu" Description="Shell Context Menu" Level="1">
        <ComponentRef Id="ShellContextMenu" />
      </Feature>
    </Feature>

    <WixVariable Id="WixUIBannerBmp" Value="bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bitmaps\dlgbmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="vimlicense.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="MyWixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="OLDINSTALLDIR" Value="NOTFOUND">
      <RegistrySearch Id="RegSearchOldInstallPath" Root="HKCU" Key="Software\Vim\install" Name="installdir" Type="raw" />
    </Property>
    <SetProperty Id="INSTALLDIR" Value="[OLDINSTALLDIR]" After="AppSearch"><![CDATA[WIX_UPGRADE_DETECTED AND OLDINSTALLDIR <> "NOTFOUND"]]></SetProperty>

    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <Property Id="OLDINSTALLDESKTOPSHORTCUT" Value="NOTFOUND">
      <RegistrySearch Id="RegSearchInstallDesktopShortcut" Root="HKCU" Key="Software\Vim\install" Name="desktop_shortcut" Type="raw" />
    </Property>
    <SetProperty Id="INSTALLDESKTOPSHORTCUT" Value="{}" After="AppSearch"><![CDATA[WIX_UPGRADE_DETECTED AND OLDINSTALLDESKTOPSHORTCUT = "NOTFOUND"]]></SetProperty>

    <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1" />
    <Property Id="OLDINSTALLSTARTMENUSHORTCUT" Value="NOTFOUND">
      <RegistrySearch Id="RegSearchInstallStartMenuShortcut" Root="HKCU" Key="Software\Vim\install" Name="startmenu_shortcut" Type="raw" />
    </Property>
    <SetProperty Id="INSTALLSTARTMENUSHORTCUT" Value="{}" After="AppSearch"><![CDATA[WIX_UPGRADE_DETECTED AND OLDINSTALLSTARTMENUSHORTCUT = "NOTFOUND"]]></SetProperty>

    <Property Id="INSTALLSHELLCONTEXTMENU" Value="1" />
    <Property Id="OLDINSTALLSHELLCONTEXTMENU" Value="NOTFOUND">
      <RegistrySearch Id="RegSearchInstallShellContextMenu" Root="HKCU" Key="Software\Vim\install" Name="contextmenu" Type="raw" />
    </Property>
    <SetProperty Id="INSTALLSHELLCONTEXTMENU" Value="{}" After="AppSearch"><![CDATA[WIX_UPGRADE_DETECTED AND OLDINSTALLSHELLCONTEXTMENU = "NOTFOUND"]]></SetProperty>

    <Property Id="INSTALLPATHENVIRONMENT" Value="1" />
    <Property Id="OLDINSTALLPATHENVIRONMENT" Value="NOTFOUND">
      <RegistrySearch Id="RegSearchInstallPathEnvironment" Root="HKCU" Key="Software\Vim\install" Name="path_environment" Type="raw" />
    </Property>
    <SetProperty Id="INSTALLPATHENVIRONMENT" Value="{}" After="AppSearch"><![CDATA[WIX_UPGRADE_DETECTED AND OLDINSTALLPATHENVIRONMENT = "NOTFOUND"]]></SetProperty>

    <Property Id="MyScript">
      <![CDATA[
      Function Rec(msg)
        Set oRec = Installer.CreateRecord(0)
        oRec.StringData(0) = msg
        Set Rec = oRec
      End Function
      Function UpgradeWarning()
        msg = Session.FormatRecord(Rec("!(loc.UpgradeWarning)"))
        Session.Message &H03000000, Rec(msg)
      End Function
      ]]>
    </Property>

    <CustomAction Id="UpgradeWarning" Property="MyScript" VBScriptCall="UpgradeWarning" />

    <UI>
      <InstallUISequence>
        <Custom Action="UpgradeWarning" After="FindRelatedProducts">WIX_UPGRADE_DETECTED</Custom>
      </InstallUISequence>
    </UI>

  </Product>
</Wix>
